
.Subtitle{
    background-color: #bac2bc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.BioText{
    text-align: left;
}

.BioImage{
    margin-top: 50px;
    width: 30vw;
    height: 400px;
}

@media screen and (max-width: 767px) {
    .BioImage {
        width: 50%;
    }
    .BioText{
        text-align: center;
    }

}
