
.BioText{
    text-align: left;
}

.BioImage{
    height: 20vw;
}

.Margin {
    margin-top: 50px;
}

@media screen and (max-width: 767px) {

    .BioText{
        text-align: center;
    }
    .BioImage{
        height: 40vw;
    
    }

}
