.Subtitle{
    padding-top: 10px;
    padding-bottom: 10px;

}

.IntroText {
    margin-top: 50px;
}

@media screen and (max-width: 450px) {
    .MobileMargin{
        margin-top: 700px;
    
    }
}





