.App {
  font-family: 'Red Hat Display', sans-serif;
  min-height: 100vh;
}

html,body {
  text-align: center;
}

h1{
  font-weight: 300;
  letter-spacing: 8px;
}

h2{
  font-weight: 300;
  letter-spacing: 5px;
}

.Test{
  background-color: aqua;
  margin-left: 0;
}