.App {
  font-family: 'Red Hat Display', sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

html,body {
  text-align: center;

}

.Content {
  min-height: 90vh;
  margin-top: 53px;
}

h1,h2,h3,h4{
  text-transform: uppercase;
}

h3{
  letter-spacing: 3px;
}

h4{
  letter-spacing: 2px;
  font-size: 14px;
}






