.App {
  font-family: 'Red Hat Display', sans-serif;
  
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1{
  font-weight: 300;
  letter-spacing: 8px;
}

h2{
  font-weight: 300;
  letter-spacing: 5px;
}
.Main {
  padding-top: 100px;
}